/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
    
  .navLeft, .navRight {
    position: fixed;
    top: 100px;
    width: 200px;
  }

  .navLeft {
    left: 20px;
  }
  
  .navRight {
    right: 20px;
  }
    
  .mainContent {
    margin-left: 220px;
    margin-right: 220px;
  }
  
  .navTop {
    margin-bottom: 20px;
  }
  
  .searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    .main {
    padding-top: 45px;
    max-width: 100vw;
    }